body {
  margin: 0;
  overflow: hidden;
  
  background-size: cover;
}

.content {
  overflow: hidden;
  background-image: 
    url('img/ground.svg'), /* 첫 번째 배경 이미지: ground.svg */
    url('img/cloud.svg'), /* 두 번째 배경 이미지: cloud.svg */
    url('img/back.png'); /* 세 번째 배경 이미지: back.png */
  background-size: 
    895px , /* 첫 번째 배경 이미지의 크기 */
    895px, /* 두 번째 배경 이미지의 크기 */
    1000px; /* 세 번째 배경 이미지의 크기 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-position: 
    49.4% 76% , /* 첫 번째 배경 이미지의 위치: 중앙에서 Y축으로 20% 아래 */
    49.4% 56%, /* 두 번째 배경 이미지의 위치: 중앙 */
    center; /* 세 번째 배경 이미지의 위치: 중앙 */
}



canvas {
  display: block;
}

#treeCanvas {
  width: 100%;
  height: 100%;
}

#clickCountOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  display: none;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 1;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#clickCountText {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

#message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#message-container.show {
  display: block;
  opacity: 1;
}

#message-container.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* 30% 불투명도의 검정 화면 */
  z-index: 9999; /* 가장 위에 표시되도록 설정 */
}
.show {
  display: block;
}