@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* 배경 */
div.bg-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #b7e9ff;
  /* filter: brightness(0.5); */

  z-index: 0;
}

img.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: #b7e9ff;
  top: 30%;
  transform: scale(1.3);
}

/* 회원 정보  */
div.user-info-container {
  display: flex;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 2rem;
  font-family: "TTLaundryGothicB", sans-serif;
  align-items: center;

  border-bottom: 10px solid #eee;
}

div.user-info-container > div.user-info-coin-wrapper {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

div.user-info-container > div.user-info-coin-wrapper > img {
  margin-right: 5px;
}

div.user-info-container > div.user-info-coin-wrapper > div {
  color: #5283ff;
}

img.logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 154px;
}

p.subtitle {
  position: absolute;
  font-family: "TTLaundryGothicB", sans-serif;
  font-size: 32px;
  color: #422205;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.thumnail-wrap {
  width: 1008px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li.thumnail,
li.thumnail-link {
  position: relative;
  width: 336px;
  margin-right: 10px;
  list-style: none;
  cursor: pointer;
}

li.thumnail > img,
li.thumnail-link > img {
  width: 336px;
}

.success-tag {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 32px;
  font-family: "TTLaundryGothicB", sans-serif;
  text-align: center;

  display: none;
}

.success-game {
  display: block;
}

li.thumnail > p,
li.thumnail-link > p {
  text-align: center;
  font-family: "TTLaundryGothicB", sans-serif;
  font-size: 24px;
  color: #422205;
  text-decoration: none;
}

img.btn {
  position: absolute;
  top: 63%;
  cursor: pointer;
}

img.prev-btn {
  left: 20%;
}

img.next-btn {
  right: 20%;
}

#contentArea {
  position: fixed;
  top: 2.5%;
  left: 15%;
  width: 70%;
  height: 95%;
  display: none;
  margin: 3px;
  z-index: 10;
}

#overlay {
  position: fixed; /* 고정 위치 */
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  z-index: 9; /* 다른 요소들 위에 오도록 설정 */
}

@media screen and (max-width: 1600px) {
  img.prev-btn {
    left: 10%;
  }

  img.next-btn {
    right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  img.prev-btn {
    left: 5%;
  }

  img.next-btn {
    right: 5%;
  }
}

/* 모달 */
.user-info-container {
  position: relative;
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 2rem;
  font-family: "TTLaundryGothicB", sans-serif;
  align-items: center;
  border-bottom: 10px solid #eee;
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
  top: 100%; /* user-info-container의 하단에 위치하도록 설정 */
  left: 50%;
  transform: translateX(-0%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 높은 z-index 값 설정 */
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modal-content button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 10px;
  font-family: "TTLaundryGothicB", sans-serif;
}

.modal-content button:hover {
  background-color: #ddd;
}

#logoutBtn {
  color: red;
}
