body{
  margin: 0;
}

.background {
  background: url('./images/background.svg') no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

.trash-container {
  top: 25%;
}

.bin-container {
  bottom: 10%;
}
.trash-bin{
  width:180px;
}

.trash-item {
  cursor: pointer;
  transition: transform 0.2s;
}
.selected {
  transform: scale(1.7);
  border: 5px solid #FFD700; /* 금색 테두리 */
  border-radius: 10px; /* 테두리 둥글게 */
}
#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
.success {
  background-color: #d4edda;
  color: #155724;
}
.failure {
  background-color: #f8d7da;
  color: #721c24;
}


#success-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  justify-content: center;
  align-items: center;
}

#success-overlay.show {
  display: flex;
}

#success-image1 {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

#success-image2 {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}

@keyframes slideDown {
    
  0% {
    transform: translateY(-100%);
    
    opacity: 0;
    
  }
  100% {
    transform: translateY(0);
    
    opacity: 1;
  }
}

.slideDownEffect {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  animation: slideDown 1s ease-in-out;
}

#success-image2:hover{
  cursor: pointer;
}

.x:hover{
  cursor: pointer;
}
